# Конфигурационные файлы
config.json
credentials.json

# Скомпилированные бинарные файлы
# Убедитесь, что вы не блокируете папку cmd/server/ !
server.exe

# Go-кеш и временные файлы
*.o
*.a
*.so
vendor/

# Логи и временные файлы macOS/Windows
.DS_Store
Thumbs.db
